[submodule "module/aether"]
	path = module/aether
	url = git@github.com:alesegdia/aether.git
[submodule "module/secs"]
	path = module/secs
	url = git@github.com:alesegdia/secs.git
[submodule "module/hadron"]
	path = module/hadron
	url = git@github.com:alesegdia/hadron.git
